<div class="container-fluid">
<div>
    <h1>Reportes</h1>
    <div class="salir">
        <button type="button" (click)="salir()" class="btn btn-outline-danger">Salir</button>
      </div>
</div>
<div class="row">
<div class="col-6">
    <h3>Partidas</h3>
    <canvas baseChart  [type]="'pie'" [data]="partidas"></canvas>
</div>
<div class="col-6" >
    <h3>Partidas ganadas por Usuario</h3>
    <canvas baseChart  [type]="'pie'" [data]="usuario"></canvas>
</div>
</div>
<div>
    <h3 class="titulo">Cantidad de veces que salienron cada cartas</h3>
    <canvas baseChart  [type]="'bar'" [data]="cartaJugadas"></canvas>
</div>
</div>