<div class="container-fluid" style="position:absolute;right: 0;">
  <div class="row">
    <div class="col-md-7"></div>

    <div class="col-md-4">
      <form>
        <h1 class="lead">Ingresá para jugar</h1>

        <div class="mb-3">
          <label for="user" class="form-label">Usuario:</label>
          <input required="required" [(ngModel)]="usuario.nombreUsuario" type="text"
            class="form-control bg-transparent text-white" id="user" name="usuario">
        </div>

        <div class="mb-3">
          <label for="pass" class="form-label">Password:</label>
          <input required="required" [(ngModel)]="usuario.password" type="password"
            class="form-control bg-transparent text-white" id="pass" name="password">
        </div>
        
        <button type="submit" class="btn btn-dark" (click)="iniciarSesion()">Iniciar sesión</button>
        <label style="padding-left: 30px;"></label>
        <button type="submit" class="btn btn-dark" (click)="Registrar()">Registrate</button>
      </form>
    </div>

    <div class="row-md-1"></div>
  </div>
</div>
