<div class="container-fluid" style="position:absolute;right: 0;">
  <div class="row">
    <div class="col-md-8"></div>

    <div class="col-md-4">
      <div class="botones">
        <h1 class="lead py-4">Bienvenido </h1>
        <button type="button" class="btn btn-dark" (click)="nuevaPartida()">Nueva Partida</button>
        <label style="padding-left: 30px;"></label>
        <button type="button" class="btn btn-dark" (click)="listadoPartidas()">Últimas Partidas</button>
        <label style="padding-left: 30px;"></label>
        <button disabled type="button" class="btn btn-dark">Estadísticas</button>
      </div>
    </div>
  </div>
</div>
