.container-fluid {

  background-image: url("./../../../assets/fondos/Mesa.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-size: 100%;
  background-attachment: fixed;
  background-color: #030315;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  height: 100vh;
}
